@media (max-width:700px){
            .navbar.navbar-inverse .brand{
                width: 100%;
                margin-left: 0;
            }
            .left{
                width: 100%;
                margin-left: 0;
            }
            .Home{
                height: 40px;
                width: 70px;
            }
            .right{
                display: none;
            }
            .container .transparent{
                display: block;
                font-size: small;
            }
            .left{
                width: 100%;
            }
        }